.filter-form {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff;
    border: 1px solid #cccccc;
    z-index: 10;
    display: none;
}
.form-control.input-half {
    width: 150px;
    float: left;
}
.filter-form-buttons-split {
    padding: 8px;
    clear: left;
}
.filters-header {
    margin-top: 0;
}
.filter-toggle {
    float: right;
}
